*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 20vh;
    /* border: 2px solid black; */
    text-align: center;
    line-height: 20vh;
    color: antiquewhite;
    font-size: 3em;
}
h1{
    display: inline;
}

#logo{
    height: 8.7vmin;
    width: 13vmin;
    border: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("LOG0.webp");
    background-size: cover;
}
body{
    background: linear-gradient(-45deg , #f90fd2 , #598ef8, #f02a8d,#08c5f9, #0725e5);
    animation: bg 12s ease-in infinite;
    background-size:  400% 400%;
}
@keyframes bg {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.qus{
    width: 190vmin;
    height: 15vmin;
    border: 2px solid rgb(245, 239, 239);
    background: linear-gradient(rgb(18, 18, 18), rgb(11, 12, 11));
    border-radius: 2em;
    text-align: center;
    line-height: 15vmin;
color: antiquewhite;
    font-size: 2.6em;
    
}
.opts{
    width: 190vmin;
    height: 37vmin;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}
.opt{
    width: 92vmin;
    height: 16vmin;
    /* border: 2px solid white; */
    border-radius: 4em;
    background: linear-gradient(rgb(25, 25, 23), rgb(27, 26, 25));
    box-shadow: 0 0 1.3em rgba(242, 240, 240, 0.4);
    font-size: 2em;
    color: aliceblue;
}
.answ{
    height: 100vmin;
    /* border: 2px solid black; */
    text-align: center;
    line-height: 100vh;
    /* display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center; */
   color: rgb(249, 244, 241);
   background: linear-gradient(rgb(9, 228, 247) , rgb(73, 20, 208));
   

}
h2{
    font-size: 4em;
    /* border: 2px solid black; */
      display: inline;
      box-shadow: 2px 2px 20px rgb(6, 6, 6);
      border-radius: 1em;
      padding: 1em;
}

.ans1{
    display: none;
}
.h2h{
    background: linear-gradient(rgb(244, 128, 128), rgb(238, 192, 107));
    font-size: 4em;
    color: rgb(18, 10, 244);
    /* background: linear-gradient(rgb(214, 246, 121) , rgb(128, 239, 243)); */
}
a{
    margin-left: 2em;
    font-size: 1.4em;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.4em;
}
#reat{
    margin-left: 2em;
    font-size: 1.4em;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.4em;
}